<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target xsi:type="File" 
            name="file" 
            fileName="${basedir}/logs/${date:format=yyyyMMdd}_BookProcessor_Log.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
